.personal-info {
  max-width: 500px;
  padding: 1rem;
  margin: 0 auto;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

.username {

}

.bio {

}

.joined-at {

}