.repos-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .repos-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .repos-grid {
    grid-template-columns: 1fr;
  }
}